### Download NY Taxi data and upload to database
Go to Dataset of NY taxi data : https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page and select 2021 january yellow taxi data information. 
On the command line use wget copied_url_link to download the .parquet file and in this notebook you should transform the parquet to csv to manipulate the data.

In [3]:
%pip install -r requirements.txt

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\kelly\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from -r requirements.txt (line 1)) (2.2.3)
Requirement already satisfied: sqlalchemy in c:\users\kelly\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from -r requirements.txt (line 2)) (2.0.37)
Requirement already satisfied: psycopg2-binary in c:\users\kelly\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from -r requirements.txt (line 3)) (2.9.10)
Requirement already satisfied: pyarrow in c:\users\kelly\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from -r requirements.txt (line 5)) (19.0.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\kelly\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas->-r requirements.txt (line 1)) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kelly\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas->-r requirements.txt (line 1)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\kelly\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas->-r requirements.txt (line 1)) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\kelly\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas->-r requirements.txt (line 1)) (2025.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\kelly\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from sqlalchemy->-r requirements.txt (line 2)) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\kelly\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from sqlalchemy->-r requirements.txt (line 2)) (4.12.2)
Requirement already satisfied: six>=1.5 in c:\users\kelly\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.8.2->pandas->-r requirements.txt (line 1)) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

In [2]:
# Upload data to the database for the homework
#download the data
#wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz -O homework/green_tripdata_2019-10.csv.gz
#wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv -O homework/taxi_zone_lookup.csv

'wget' is not recognized as an internal or external command,
operable program or batch file.
'wget' is not recognized as an internal or external command,
operable program or batch file.

In [3]:
#unzip the data
#!gunzip -k homework/green_tripdata_2019-10.csv.gz

'gunzip' is not recognized as an internal or external command,
operable program or batch file.

In [5]:
df = pd.read_csv("green_tripdata_2019-10.csv", nrows=100)
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1,0.0
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1,0.0
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1,0.0
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1,0.0
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1,0.0

Now we want to pass this dataset to our postgres data base. For this, we have to declare an schema.

Parse the TEXT for pick up times to datetime.

In [6]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

Pandas uses the python library SQLAlchemy to interact with postgres

In [7]:
from sqlalchemy import create_engine

In [10]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [11]:
engine.connect()

In [12]:
#This is going to print the data definition language (DDL) for the table yellow_taxi_data in SQL
#By passing the connection engine it will give you the DDL in the syntax of SQL that the engine understands
print(pd.io.sql.get_schema(df, "green_taxi_data", con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

Since the CSV file is really big, we dont want to pass 136000 rows in one shot because we dont know how it will react. So, we will chunk the data and iterate over it to eventually pass all the information.

In [36]:
df = pd.read_csv("green_tripdata_2019-10.csv")

C:\Users\kelly\AppData\Local\Temp\ipykernel_26840\1927212721.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("green_tripdata_2019-10.csv")

In [37]:
len(df)

476386

In [38]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [17]:
df.head(0)

Empty DataFrame
Columns: [VendorID, lpep_pickup_datetime, lpep_dropoff_datetime, store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count, trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee, improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge]
Index: []

In [42]:
#This will create the table yellow_taxi_data in the database ny_taxi with the data from the dataframe df using the connection engine, 
# if the table already exists it will replace it with the new data
df.head(0).to_sql(name="green_taxi_data", con=engine, if_exists="replace")

0

Now in your CLI with pgcli you should use the command:
\dt 
it should show that the table yellow_taxi data exists and if you use:
\d yellow_taxi_data 
it will show you the schema that you just insert it.

In [43]:
%time df.to_sql(name="green_taxi_data", con=engine, if_exists="append")

CPU times: total: 10.6 s
Wall time: 1min 19s

386

In [31]:
df = pd.read_csv("taxi_zone_lookup.csv")
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [30]:
len(df)

265

In [34]:
#This will create the table yellow_taxi_data in the database ny_taxi with the data from the dataframe df using the connection engine, 
# if the table already exists it will replace it with the new data
df.head(0).to_sql(name="taxi_zone_lookup", con=engine, if_exists="replace")

0

In [35]:
df.to_sql(name="taxi_zone_lookup", con=engine, if_exists="append")

265

For the queries :

## Question 3. Trip Segmentation Count

During the period of October 1st 2019 (inclusive) and November 1st 2019 (exclusive), how many trips, **respectively**, happened:
1. Up to 1 mile
2. In between 1 (exclusive) and 3 miles (inclusive),
3. In between 3 (exclusive) and 7 miles (inclusive),
4. In between 7 (exclusive) and 10 miles (inclusive),
5. Over 10 miles 



One option is do each case one by one 

```sql
SELECT count(1) 
FROM public.green_taxi_data
WHERE trip_distance <= 1

or use this 

SELECT 
    SUM(CASE WHEN trip_distance <= 1 THEN 1 ELSE 0 END) AS up_to_1_mile,
    SUM(CASE WHEN trip_distance > 1 AND trip_distance <= 3 THEN 1 ELSE 0 END) AS between_1_and_3_miles,
    SUM(CASE WHEN trip_distance > 3 AND trip_distance <= 7 THEN 1 ELSE 0 END) AS between_3_and_7_miles,
    SUM(CASE WHEN trip_distance > 7 AND trip_distance <= 10 THEN 1 ELSE 0 END) AS between_7_and_10_miles,
    SUM(CASE WHEN trip_distance > 10 THEN 1 ELSE 0 END) AS over_10_miles
FROM green_taxi_data
WHERE lpep_pickup_datetime >= '2019-10-01 00:00:00' 
AND lpep_pickup_datetime < '2019-11-01 00:00:00';

```


## Question 4. Longest trip for each day

Which was the pick up day with the longest trip distance?
Use the pick up time for your calculations.

Tip: For every day, we only care about one single trip with the longest distance. 


```sql
SELECT DATE(lpep_pickup_datetime) AS pickup_day, MAX(trip_distance) AS max_distance
FROM green_taxi_data
WHERE lpep_pickup_datetime >= '2019-10-01 00:00:00' 
AND lpep_pickup_datetime < '2019-11-01 00:00:00'
GROUP BY pickup_day
ORDER BY max_distance DESC
LIMIT 1;

```

## Question 5. Three biggest pickup zones

Which were the top pickup locations with over 13,000 in
`total_amount` (across all trips) for 2019-10-18?

Consider only `lpep_pickup_datetime` when filtering by date.
 
- East Harlem North, East Harlem South, Morningside Heights (X)
- East Harlem North, Morningside Heights
- Morningside Heights, Astoria Park, East Harlem South
- Bedford, East Harlem North, Astoria Park

```sql
SELECT tz."Zone", SUM(g."total_amount") AS total_revenue
FROM green_taxi_data g
JOIN taxi_zone_lookup tz ON g."PULocationID" = tz."LocationID"
WHERE DATE(g."lpep_pickup_datetime") = '2019-10-18'
GROUP BY tz."Zone"
HAVING SUM(g."total_amount") > 13000;

```

## Question 6. Largest tip

For the passengers picked up in October 2019 in the zone
named "East Harlem North" which was the drop off zone that had
the largest tip?

Note: it's `tip` , not `trip`

We need the name of the zone, not the ID.

- Yorkville West
- JFK Airport (X)
- East Harlem North
- East Harlem South

```sql
SELECT tz_do."Zone" AS dropoff_zone, MAX(g."tip_amount") AS max_tip
FROM green_taxi_data g
JOIN taxi_zone_lookup tz_pu ON g."PULocationID" = tz_pu."LocationID"
JOIN taxi_zone_lookup tz_do ON g."DOLocationID" = tz_do."LocationID"
WHERE DATE(g."lpep_pickup_datetime") BETWEEN '2019-10-01' AND '2019-10-31'
AND tz_pu."Zone" = 'East Harlem North'
GROUP BY tz_do."Zone"
ORDER BY max_tip DESC
LIMIT 1;
```